body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f2f2f2;
}

input[type="text"] {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 300px;
}

pre {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}

code {
	font-family: monospace;
}
